<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>

    </head>
    <body>
        <header>

        </header>
        <main>
            <a id = "googleButton" class="google-btn" href="/auth/google"></a>
        </main>




    </body>
<script>
    document.getElementById('googleButton').click();
    </script>

</html>
